*{
  margin:0;
  padding:0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: #e5e7eb;
}

.header, .main, .footer{
  background-color: #1f2937;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 10rem;
}
.main{
  padding: 5rem 10rem;
}
.left{
  display: flex;
  flex-direction: column;
  flex-basis: 44%;
  gap: .5rem;
}


#logo {
  font-size: 24px;
  color: #f9faf8;
}

#right-header > ul{
  display: flex;
  gap: 1rem;
}

.left > p {
  font-size: 18px;
  color:#e5e7eb
}

.left > h1{
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  /* line-height: 80%; */
}
.left > button{
  background-color: #3882f6;
  font-weight: bold;
  font-size: 18px;
  color:#e5e7eb;
  justify-self: start;
  width: 30%;
  padding: .25rem;
  border-radius: 10px;
  border:none;
}

.right{
  flex-basis: 44%;
  justify-content: center;
  align-items: center;
}
.right >img {
  width: 100%;
  height: 100%;
}

.info-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 3rem;
}

.image-row{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.image-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min-content;
  text-align: center;
}

.image-item > img{
  width: 150px;
  height: 150px;
  border: #3882f6 solid;
  border-radius: 10px;
}


.quote-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7rem;
  background-color: #e5e7eb;
}
.quote{
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  width: 50%;
}

.author{
 font-size: 16px;
 color: #1f2937;
 text-align: end;
 font-style: normal;
 font-weight: bold;
}

.call-to-action{
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 2rem 0; */
}

.sign-up{
  padding: 3rem;
  margin: 3rem 0rem;
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #3882f6;
  color: #e5e7eb;
  border-radius: 10px;
}

.sign-up button{
  padding: 3px 20px;
  background-color: #3882f6;
  color: #e5e7eb;
  border: solid #e5e7eb;
  font-weight: bold;
  font-size: 16px;
  border-radius: 10px;
}


.footer > p{
  padding: 1rem;
  font-size: 14px;
  color: #e5e7eb;
}